/* 재복습하면서 알아야 할 내용 
  linear-gradient(방향or 각도, 색상그리고 정지점1, 색상 그리고 정지점2,.. //n)함수
  특성 : 두개이상의 색이 직선에따라 점진적으로 변화 
  justify-content : 가로축 - 중심축 (아이템을 기준으로)
  align-items : 세로축 - 교차축
  text-align : 텍스트 정렬방향 지정
  letter-spacing: 글자간의 간격 정하기
  outline : none;  클릭시 테두리 안보이게 설정
  cursor : pointer; 커서를 갖다대면 포인터 모양으로 변하기
  list-style : none; ul 태그 안에있는 기호나 모양 표시 없애기
  line-height : 텍스트 간에 높이 길이 조절
  position : relative 문서상 위치를 자기자신으로 위치
  text-indent : 문장이 시작한다는걸 알리기위해 들여쓰기
  background vs background-color : 여러가지 설정 가능 vs 색갈만 지정가능	
  */
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	width: 100%; 
	height: 100vh;
	background:  linear-gradient(to left, #F5F5DC,#FFFFE0);
}

.frame {
	margin: 120px auto;	
	padding : 25px;
	max-width: 700px;
	background:wheat;
	width: 100%;
	border-radius: 30px;	
}

.frame header {
	margin-bottom:30px;		
	font-size: 25px;
	text-align: center;
	font-weight: 700;
	letter-spacing:15px;
	font-family 'Koulen' , 'cursize';	
}

.frame .button {
	margin: 5px auto 20px;
	display: flex;
	height: 45px;	
	width: 700px;
	font-family: 'Hi Melody', cursize;
}

.xi-plus{	
	font-weight:bold;
	color:wheat;
}
/* 넣는 공간 자체 설정 */
.button input {
	color: black;
	padding-left: 15px;
	width: 600px;
	height: 100%;
	border: none;
	font-size: 15px;
	border-radius: 5px;
	outline: none;
}
.button button {
	width:50px;
	height: 100%;
	border: none;
	border-radius: 6px;
	background: rgb(6,6,6);
	cursor:pointer;
}

.TodoList li {
	width: 650px;
	list-style:none;
	line-height : 40px;
	position: relative;
	margin-bottom: 5px;
	background: rgb(241,242,241);
	text-indent: 15px;
	border-radius: 4px;
	font-weight: 400;
	cursor: pointer;
}
.frame .footer {
	font-weight: 600;
	text-indent: 15px;
	display: flex;
	margin-top: 30px;
	justify-content: right;
	width:100%;	
}

.footer button {
	color: wheat;
	font-weight: 900;
	font-size: 17px;
	cursor: pointer;
	border-radius: 9px;
	padding: 6px 10px;
	width:100px;
	height:40px;
	background: rgb(6,6,6);
	border: none;
}

.footer button:hover {
	color: rgb(6,6,6);
	background-color: white;
}